.loginCon{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    h1{
        text-align: center;
        color: #ccc;
        margin-top: 50px
    }
    .login{
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 6px;
        padding: 0 20px;
        width: 300px;
        height: 200px;
        margin: 50px auto;
        margin-bottom: 0
    }
    .ant-alert{
        position: fixed;
        width: 300px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%)
    }
}